<header>
    <app-navbar></app-navbar>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 imageBib">
                <img src="https://img.freepik.com/vecteurs-libre/homme-se-detendre-maison_23-2148403452.jpg?ga=GA1.1.2039306284.1710340719&semt=ais_hybrid" alt="">
            </div>
            <div class="col-md-6 flex align-content-center">
                <h1 class="mb-4 fw-bold text-center">Bienvenu dans votre bibliothèque numérique !</h1>
                <p class="text-center fs-3 mb-3">Plongez dans le monde de la lecture et laissez vous envouter par des livres fascinants</p>
                <div class="text-center">
                    <a routerLink="/inscription" class="btn">Je m'inscrit</a>
                </div>
            </div>
        </div>
    </div>
</main>